@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

.tom-btn {
  background-color: #2563eb;
  color: white;
  font-weight: 600;
  padding: 0.5rem 1.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: none;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}
.nav-btn {
  background-color: #2563eb;
  color: white;
  border: 1px solid white; /* ✅ এটা সঠিক */
  font-weight: 600;
  padding: 0.5rem 1.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}

.tom-btn:hover {
  background-color: #3b82f6;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.nav-btn:hover {
  background-color: #3b82f6;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.rej-btn {
  background-color: red;
  color: white;
  font-weight: 600;
  padding: 0.5rem 1.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border: none;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}

.rej-btn:hover {
  background-color: red;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.urban {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


